/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

@font-face {
    font-family: teen;
    src: url("/css/teen.ttf");
}

h1, h2, h3, h4, h5, h6 {
	font-family: teen;
}

.header-extras {
	margin: 40px 0 0;
}

.header-extras li {
	height: 70px;
}

.portfolio-meta li span {
	width: 175px;
}

.fbox-media img {
	width: 140px !important;
}

#logo img {
    padding-top: 25px;
    padding-bottom: 5px;
}

/******************************************************************
	
	Colors
	
	
	
	.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
	
******************************************************************/

.btn-hannah {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-hannah:hover {
	background-color: #13b5ea;
	border-color: #13b5ea;
}

.dark #footer .social-icon.si-borderless, #footer.dark .social-icon.si-borderless {
    color: #13b5ea !important;
}


/* Highlighter */
.highlight { 
	background-color: #ccff15; 
	color: black;
	border: solid 1px red;	
}

/* Text Colors */
.tBlue { color: #13b5ea !important; }
.tDarkBlue { color: #00467f !important; }
.tYellow { color: #ffde6c !important; }
.tOrange { color: #f58025 !important; }
.tRed { color: #98002e !important; }
.tGreen { color: #5cb85c !important; }
.tBlack { color: #000000 !important; }
.tWhite { color: #ffffff !important; }

/* Background Colors */
.bgcolor-2 { background-color: #00467f; }
.bgColorLight { background-color: rgba(51, 122, 183, 0.10); }
.bgBlue { background-color: #13b5ea; }
.bgDarkBlue { background-color: #00467f; }
.bgYellow { background-color: #ffde6c; }
.bgYellowLight { background-color: #ffd; }
.bgOrange { background-color: #f58025; }
.bgRed { background-color: #98002e; }
.bgGreenLight { background-color: hsl(120, 100%, 97%); }
.bgGreen { background-color: #5cb85c; }
.bgWhite { background-color: #ffffff; }

.promo.promo-light { background-color: rgba(19, 181, 234, 0.05); }
.mobileServices a { color: black !important; }



/* TABLES
========================================= */
/* Table Colors */
.table .success { color: #2cd22f; }
.table .notIncluded { color: #ec3b00; }

.petCareTable td:nth-child(2) { background-color: rgb(255, 242, 195); }
.petCareTable td:nth-child(3) { background-color: rgba(19, 181, 234, 0.14) !important; }  /* { background-color: rgba(243, 0, 0, 0.11); } */
.petCareTable td:nth-child(4) { background-color: rgb(247, 172, 148); }
.bgBlueTable, .petCareTable td:nth-child(5) { background-color: rgba(19, 181, 234, 0.14) !important; }

/*
#coverage td:nth-child(2) { background-color: rgba(243, 0, 0, 0.11); }
#coverage td:nth-child(4) { background-color: rgb(255, 242, 195); }
#coverage td:nth-child(3) { background-color: rgb(247, 172, 148); }
*/

#coverage td:nth-child(5) { background-color: rgba(19, 181, 234, 0.14); }

/* Coverage Table Colors */	
.bgYellowTable { background-color: rgba(255, 222, 108, 0.41); }
.bgRedTable { background-color: rgba(236, 59, 0, 0.42); }

#coverage > tbody > tr > td { text-align: center; }
#coverage > tbody > tr > td > i { float: none !important; }

/* Coverage Tabs */
.coverageTab > li {
	list-style: none;
}

.coverageTab > li:before {
	content: "\2022 \2002";
}
	
/* Dog and Cat Care Tables */
#dogCare span, #catCare span {
	display: block;
	font-weight:500;
	font-size: .8em;
}

#dogCare td, #catCare td {
	text-align: center;
}

#dogCare thead th, #catCare thead th {
	text-align: center;
}






/* Footer Colors */
.dark .widget h4 { color: #f58025; }
.dark .form-control:not(.not-dark), .dark .sm-form-control:not(.not-dark) { background-color: #fff; }
#footer.dark, .dark #footer { background-color: #00467f; }

/* Page Titles */
#page-title {
	background-color: rgba(51, 122, 183, 0.10);
}

/* Footer */
#footer-logo {
    background-color: #13b5ea;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #00467f;
}

.counter span:after {
    content: "+";
}

/* Header Remove Borders */
#header,
#top-bar,
#primary-menu.style-2,
#top-social li,
.top-links ul li { border: none; }

#top-bar { background-color: #00467f; }
.top-links li > a { color: #fff; /* #ffde6c; */ }
#top-social li .ts-icon { color: #fff; /* #ffde6c; */ }


/* H1-H4 Colors */
h1, h2, h3, h4, h5,
.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2 {
	color: #00467f;
}

/* Top Navigation Link Hover */
.top-links li:hover {
    background-color: #13b5ea;
}



/* icons */
.i-plain {
	color: #f58025;
	text-shadow: 1px 1px 1px #98002e;
}

.paws-bg {
	background: url(/images/paws.png);
    background-size: contain;
    border-bottom: none;
}

.paws-bg h2, .paws-bg h3, .paws-bg h4 {
	background: none;
}

.paws {
	list-style: none;
    list-style-position: inside;
    padding-left: 1.5em;
    text-indent: -1.7em;
}

.paws li {
	font-size:1.1em; 
	font-weight:400;
	padding-bottom: 10px;
}

.paws li:before { 
content:''; 
display:inline-block; 
height:.8em; 
width:1em; 
background-image:url('/images/icons/paw.svg'); 
background-size:contain; 
background-repeat:no-repeat; 
padding-left: 1.5em;
text-indent: 1.5em;
}




/* UL LISTS */
.philosophyList {
	margin: 0 auto;
    width: 300px;
    font-size: 1.5em;
}

.teen {
	font-family: teen;
}

/* Padding and Margins */
.padding {
	padding: 30px;
}

.bottommargin-100 {
	margin-bottom: 100px;
}


/* what-is-hannah.php */



/* Boxes */

.yellowBox {
	border: solid 1px #ffde6c;
	border-radius: 10px;
	padding-top:15px;
	}

	.yellowBox h3 {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;		
		background-color: #ffde6c;
		padding: 15px;
	}
	
	.yellowBox p, .yellowBox h4{
		padding: 10px 5% 0 5%;
		font-style: italic;
		font-weight: bold;
	}
	

.greenBox {
    border: solid 3px #5cb85c;
	border-radius: 10px;
	}

	.greenBox h3 {
		background-color: #5cb85c;
		padding: 10px;
		color: #fff;
	}
	
	.greenBox h3 > span {
		color: #ffde6c;
	}
	
	.greenBox p, .greenBox h4{
		padding: 10px 5% 0 5%;
	}
	
.orangeBox {
    border: solid 3px #f58025;
	border-radius: 10px;
	}

	.orangeBox h3 {
		background-color: #f58025;
		padding: 25px;
		color: #fff;
	}
	
	.orangeBox h3 > span {
		color: #ffde6c;
	}
	
	.orangeBox p, .orangeBox h4{
		padding: 10px 5% 0 5%;
	}
	
.redBox {
    border: solid 3px #98002e;
	border-radius: 10px;
	}

	.redBox h3 {
		background-color: #98002e;
		padding: 25px;
		color: #fff;
	}
	
	.redBox p, .redBox h4{
		padding: 10px 5% 0 5%;
	}
	
.blueBox {
    border: solid 3px #13b5ea;
	border-radius: 10px;
	}

	.blueBox h3 {
		background-color: #13b5ea;
		padding: 25px;
	}
	
	.blueBox p, .blueBox h4{
		padding: 10px 5% 0 5%;
	}
	
.darkBlueBox {
    border: solid 3px #00467f;
	border-radius: 10px;
	}

	.darkBlueBox h3 {
		background-color: #00467f;
		padding: 25px;
		color: #fff;
	}
	
	.darkBlueBox p, .darkBlueBox h4{
		padding: 10px 5% 0 5%;
	}


/* All boxes */	
.blueBox h4 {
	margin-bottom: 0px;
}

.blueBox p {
	margin-bottom: 10px;
}	

.trivia p {
	margin-bottom: 0;
    font-family: 'Crete Round', serif;
    font-style: italic;
    padding-bottom: 10px;
}

	
	
	
	
	
	
	
	
	
	
	
@media (min-width: 992px) {

	#header.transparent-header + #slider,
	#header.transparent-header + #page-title.page-title-parallax,
	#header.transparent-header + #google-map,
	#slider + #header.transparent-header {
		top: -120px;
		margin-bottom: -120px;
	}

	#header.transparent-header.floating-header + #slider,
	#header.transparent-header.floating-header + #google-map {
		top: -180px;
		margin-bottom: -180px;
	}

	#header.transparent-header + #page-title.page-title-parallax .container { padding-top: 120px; }

	#primary-menu ul li > a {
		padding-top: 49px;
		padding-bottom: 49px;
	}

	#top-search,
	#top-cart,
	#side-panel-trigger {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#top-cart .top-cart-content { top: 70px; }

	#header,
	#header-wrap,
	#logo img { height: 120px; }

	#header.sticky-header:not(.static-sticky),
	#header.sticky-header:not(.static-sticky) #header-wrap,
	#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

	#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	#header.sticky-header:not(.static-sticky) #top-search,
	#header.sticky-header:not(.static-sticky) #top-cart,
	#header.sticky-header:not(.static-sticky) #side-panel-trigger {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content,
	#header.sticky-header:not(.static-sticky) #primary-menu.sub-title.style-2 > div #top-cart .top-cart-content { top: 40px; }

}	
	
	
	
	
.sidenav > .ui-tabs-active > a, 
.sidenav > .ui-tabs-active > a:hover {
	background-color: #00467f !important;	
}

.sidenav li a { 
	border: none; 
	color: #13b5ea;
}


.smallText {
	font-size:.8em;
}
	
.boxImageLeft {
 	padding: 8px 20px 10px 0px;
/*  	padding-right: 20px; */
	width: 40%;
	float: left;
	display: inline;
	
}
	
.boxImageRight {
 	padding: 8px 0px 10px 20px;
	width: 40%;
	float: right;
	display: inline;
	
}
	


/* Lifetime Membership */
.portfolio-item {
	width: 33%;
}
		
#sidenav-info {
	background:url(/images/curly_bg2.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	padding: 150px 20px 150px 20px;
}
	
.pricing-features {
	border: none;
}

.nobullets {
	list-style: none;
}



/* MOBILE OPTIMIZATIONS
************************************/

@media (max-width: 767px) {
	.mobileServices {	
		width: 50%;
		float: left;
		margin-top: 0px !important;
		margin-bottom: 40px;
		min-height: 140px;
	}
	
	.hpBackground {
		background:url(/images/slider/swiper/hp1-767x356.jpg);
		background-position: center center;
		min-height: 356px;
		background-repeat: no-repeat;
		padding-top:75px;
	}
	
	.hero-heading h2 {
		font-size: 40px;
	}	
}

@media (min-width: 768px) {
	.hpBackground {
		background:url(/images/slider/swiper/ss1.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 356px;
		padding-top:50px;
	}
	
	.hero-heading {
		width: 50%;
		float: right;
	}
	
	.hero-heading h2 {
		text-align: left;
		line-height: 1em;
		font-size: 55px;
		margin-bottom: 10px;
	}
	
	.hero-heading .center {
		float:right;
		text-align: right;
		margin-right:55px;
	}
}

@media (max-width: 991px) {
	#logo img {
		height: 130px;
	}
	
	.hero-heading h2 {
		font-size: 45px;
	}

	.wideAt991 {
		width: 100%;
	}
}



.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}


/* Extra Sizes */
.bottommargin-xs {
	margin-bottom: 10px !important;
}

.bottommargin-xxs {
	margin-bottom: 5px !important;
}

.topmargin-xs {
	margin-top: 10px !important;
}

.topmargin-xxs {
	margin-top: 5px !important;
}

.button.button-border:not(.button-fill):hover {
    background-color: #337ab7;
    color: #FFF;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


/* Make stuff work */
.heading-block:after {
	display: none;
}

.mfp-close-btn-in .mfp-close {
    color: white !important;
}